global:
  resolve_timeout: 1m

route:
  receiver: mail  # Fallback.
  routes:
    - receiver: 'telegram'
      continue: true
    - receiver: 'pager_duty'
      continue: true


receivers:
- name: mail
  email_configs:
  - to: {{ receiving_email }}
    from: {{ notifications_email }}
    smarthost: {{ notifications_email_smtp }}
    auth_username: {{ notifications_email }}
    auth_identity: {{ notifications_email }}
    auth_password: {{ notifications_email_password }}
- name: telegram
  telegram_configs:
  - bot_token: {{ notifications_telegram_token }}
    api_url: 'https://api.telegram.org'
    chat_id: {{ notifications_telegram_chat_id }}
    http_config:
      follow_redirects: true
    parse_mode: ""
    disable_notifications: false
    send_resolved: false
- name: pager_duty
  pagerduty_configs:
  - send_resolved: true
    service_key: "{{ pager_duty_integration_key }}"
  